:root{
    body{
        color: black;
        background-color: blanchedalmond;
        font-family: "JetBrains Mono", monospace;
        font-optical-sizing: auto;
        font-weight: normal;
        font-style: normal;
    }
    nav{
        background-color: #ffebcd!important;
        color: black!important;
    }
    
    h1, h2 , h3{
        font-family: "Special Gothic Expanded One", sans-serif;
        font-weight: 400;
        font-style: normal;
        
    }
    a,span{
        color: #ff0000;
    }
}

.style-border{
    border-style: solid;
    border-color: black;
    border-radius:15px ;
}

.nav-off-menu{
    background-color: #ffebcd !important;
    font-size: 30px;
    color: black!important;
    max-width: 250px;

}
.offcanvas{
    max-width: 250px;
}
.offcanvas-header{
    max-width: 250px; 
}

.offcanvas-body{
    flex-grow: 0!important;
    max-width: 250px;
}

.base-style{
    background-color: blanchedalmond;
    color: black;
}

.xxl-padding{
    padding-top: 30px;
    padding-bottom: 15px;
}
.xxl-font{
    font-size: 25px!important;
}

.wrapper{
    
    background: blanchedalmond;
    height: 40px;
    text-align: right;
}

.marquee {
    white-space: nowrap;
    -webkit-animation: righttoLeft 4s linear;
    color: black!important;
    font-size: 19px;
    font-family: "Special Gothic Expanded One", sans-serif;
    overflow:hidden
}

.text-smolsize{
    font-size: 16px;
    font-weight: 700;
}
.text-bigboy{
    font-size:calc(2rem + 4.5vw);
    text-shadow: 4px 9px #ffebcd;
}


  
  .panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    -webkit-transition: all 700ms ease-in;
  }
  
  .panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
  }
  
  .panel.active {
    flex: 5;
  }
  
  .panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
  }
  
  @media (max-width: 480px) {
    .container {
      width: 100vw;
    }
  
    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
      display: none;
    }
  }