:root{
    body{
        color: black;
        background-color: blanchedalmond;
        font-family: "JetBrains Mono", monospace;
        font-optical-sizing: auto;
        font-weight: normal;
        font-style: normal;
    }
    nav{
        background-color: blanchedalmond;
        color: black!important;
    }
    
    h1, h2 , h3{
        font-family: "Special Gothic Expanded One", sans-serif;
        font-weight: 400;
        font-style: normal;
        
    }
    a{
        color: green;
    }
}